@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(207, 207, 207);
}
.container{
    width: 350px;
    height: 630px;
    padding: 25px 30px;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(#9ce3ff 0%,#fd878d 90%);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.342);
    overflow: hidden;
}
.container i{
    cursor: pointer;
}
.container .top-bar,.progress-area,.song-timer,.controls, ul li,.header{
display: flex;
align-items: center;
justify-content: space-between;
}
.top-bar i{
    font-size: 30px;
    color: #ffffff;
}
.top-bar i:first-child{
    margin-left: -7px;
    font-size: 22px;
}
.top-bar span{
    font-size: 18px;
    margin-left: -3px;
    color: #ffffff;
}
.img-area{
    width: 100%;
    height: 280px;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 10%;
    box-shadow: 0 0 0 0px #ffffff,0 0 2px #fff,13px 13px 20px #31313163,-10px -10px 20px #e6f6ff;
}
.img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-details{
    text-align: center;
    margin: 20px 0;
}
.song-details p{
    color: #ffffff;
    font-weight: 500;
}
.song-details .name{
    font-size: 25px;
}
.song-details .artist{
    font-size: 16px;
    opacity: .6;
    line-height: 35px;
}


.progress-area{
    width: 100%;
    height: 6px;
    border-radius: 50px;
    background-color: #f0f0f081;
    cursor: pointer;
    max-width: 300px; 
    position: relative;
  }
  

.progress-bar{
        height: inherit;
        width:0%;
        border-radius: inherit;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
}

.progress-bar::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top:50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity .2s ease;
}
.progress-area:hover .progress-bar::before{
opacity: 1;
pointer-events: auto;
}

.song-timer{
    font-size: 13px;
    color: #ffffff;
}

.progress-time{
    display: flex;
    flex-direction: row;
    gap: 15rem;
}
.controls{
    margin: 40px 0;
}
.controls i{
    font-size: 28px;
    user-select: none;
    background-color: #ffffff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),.controls i:nth-child(4){
font-size: 43px;
}
.controls #prev{
    margin-right: -13px;
    font-size: 38px;
}
.controls #next{
    margin-left: -13px;
    font-size: 38px;
}
.controls .play-pause{
height: 65px;
width: 65px;
display: flex;
cursor: pointer;
align-items: center;
justify-content: center;
border-radius: 50%;
box-shadow: 0 0 0px #fff,8px 8px 8px #fb656c,-3px -3px 35px #fec0c0;
}

.music-list{
    position: absolute;
    width:350px;
    top: 47.75%;
    background:
    linear-gradient(rgba(255,255,255,.973),transparent),
    linear-gradient(to top left,rgb(255,23,23),transparent),
    linear-gradient(to top right,rgb(0,183,255),transparent);
    background-blend-mode: screen;
    z-index: 5;
    padding: 15px 30px;
    border-radius: 0 0 15px 15px;
    opacity: 0;
    pointer-events: none;
    transition: all .2s ease-in-out;
}
.music-list.show{
    opacity: 1;
    pointer-events: auto;
}
.music-list ul{
    margin: 10px 0;
    max-height: 260px;
    overflow: auto;
}
.music-list ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom:10px ;
    margin-bottom: 5px;
    color: #000000;
    border-bottom: 1px solid #e5e5e5;
}

.music-list ul li:last-child{
    border-bottom: 0px;
}
.music-list ul li .row span{
    font-size: 17px;
}
.music-list ul li .row p{
    opacity: .6;
}
ul li .audio-duration{
font-size: 16px;
}
.music-list ul::-webkit-scrollbar{
    width: 0;
}
.header{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #515c6f;
}
.header .row i{
    cursor: default;
}
.header .row span{
  margin-left: 5px;
}
.header #close{
    font-size: 22px;
}
.music-list ul li:hover{
    color:#0e9fff;
}
ul li.playing{
    pointer-events: none;
    color:#0e9fff;   
}


